.rating-viewer {
    text-align: center;
}

.rating {
    display: flex;
    align-items: center;
}

.star {
    margin-right: 5px;
}

.star.filled {
    color: #2979FF;
}

.value {
    margin-right: 5px;
}

.rating-viewer button {
    display: inline-block;
}