.film-list {
    display: flex;
    flex-direction: column;
}

.film-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.film-icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.film-meta {
    display: flex;
    /* justify-content: space-between; */
    font-size: 0.8em;
    color: #888;
}

.film-meta .poster {
    margin-right: 10px;
}

.film-meta .title h2 {
    margin-top: 0;
    margin-bottom: 7px;

    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .film-meta .title {
    display: inline-block;
    width: 23px;
} */